* { box-sizing: border-box;}

body {
  overflow-Y: hidden; /*quitar el scroll*/
}
.ground {
  animation: move 10s steps(1000) infinite forwards;
}

.lampara {
  animation: move 10s steps(10000) infinite forwards;
}



.small-cloud {
  animation: slide-left 10s steps(1000) infinite forwards, down-up 10s steps(1000) infinite forwards;
}

.other-cloud {
  animation: slide-left 7s steps(1000) infinite forwards, down-up 5s steps(1000) infinite forwards;
}


.big-cloud {
  animation: slide-left 5s steps(1000) infinite forwards, down-up 10s steps(1000) infinite forwards;
}

.personaje_camina {
  background-image: url("personaje_camina.jpg");
  width: 77px;
  height: 100px;
  position: absolute;
  bottom: 113px;
  margin-left: -175px;
  animation: walk 5s steps(2000) infinite, forward 5s steps(100) 1 forwards, /* disappear 5s steps(10)*/ 1 forwards;
}
.personaje_camina {
  background-image: url("tio_camina.png");
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 113px;
  margin-left: -175px;
}

@keyframes walk {
  100% { background-position: -5210px; }
}

@keyframes disappear {
  100% { opacity: 0; }
}

@keyframes move {
  100% { background-position: -1680px 0px; }
}

@keyframes walk {
  100% { margin-left: 1024px;  transform: scale(2);  }
}

@keyframes jump {
  50% { bottom: 226px; }
  100% { bottom: 113px; }
}

@keyframes slide-left {
  100% { margin-right: 1024px; }
}

@keyframes down-up {
  50% { margin-top: 200px;}
  100% { margin-top: 0px; }
}

.pantalla {
  width: 500px;
  height: 500px;
  border: thin solid black;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: darkgray;
  margin: 0 auto;
  margin-top:50px;
  border-left: 10px solid #333;
    border-top: 10px solid #223;

}
.pantalla_negra {
  width: 500px;
  height: 500px;
  border: thin solid black;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: darkgray;
  margin: 0 auto;
  margin-top:50px;
  border-left: 10px solid #333;
  border-top: 10px solid #223;
  background-color:  #3b3a3a;
display: none;
}
.parte_negra {
  width: 900px;
  height: 700px;
  border: thin solid black;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: #000;
  margin-left:100px;
    margin-top:50px;
    border-left: 5px solid #333;
    border-top: 5px solid #223;


;
}

.luzroja {
     width: 120px;
     height: 120px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: red;
     margin-left:550px;
     margin-top:150px;
}

.carcasa {
  width: 1100px;
  height: 1280px;
  border: thin solid black;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: yellow;
  border-radius: 20px;

;
}
.ground {
  background-image: url("ground.jpeg");
  width: 1680px;
  height: 113px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.lampara {
  background-image: url("lampara.png");
  width: 1680px;
  height: 400px;

}




.other-cloud {
  top: 100px;
  right: 100px;
}

#espacio_boton1 {
     width: 20px;
     height: 125px;

     background: #bfcb03;
     float: right;
     margin-left:1250px;
     margin-top: -600px;
   }

#espacio_boton2 {
        width: 20px;
        height: 125px;

        background: #bfcb03;
        float: right;
        margin-left:1250px;
        margin-top: -475px;
      }
.on_off{
     width: 20px;
     height: 70px;
     border: 1px solid #555;
     background: #3b3a3a;
     float: left;
     margin-top: 50px;


   }


.botonA {
     width: 120px;
     height: 120px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #3b3a3a;
     margin-left:850px;
     margin-top:150px;
     font-size: 100px;
     text-indent: 10px;
     color: #0f0f0f;
     border-right: 10px solid #333;
     border-bottom: 10px solid #223;
}

.botonB {
     width: 120px;
     height: 120px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #3b3a3a;
     margin-left:700px;
     margin-top:0px;
     font-size: 100px;
     text-indent: 10px;
     color: #0f0f0f;
     border-right: 10px solid #333;
     border-bottom: 10px solid #223;
}



.cruz_izq {
  width: 100px;
  height: 100px;
  background: #3b3a3a;
  margin-left:100px;
  margin-top:-200px;
  font-size: 100px;
  text-indent: 23px;
  color: #0f0f0f;

  border-bottom: 10px solid #223;
}
/* esta es la de abajo */
.cruz_arriba {
  width: 100px;
  height: 100px;
  background: #3b3a3a;
  margin-left:200px;
  margin-top:0px;
  font-size: 100px;
  text-indent: 23px;
  color: #0f0f0f;
border-right: 10px solid #333;
  border-bottom: 10px solid #223;
}
.cruz_centro {
  width: 100px;
  height: 100px;
  background: #3b3a3a;
  margin-left:200px;
  margin-top:-200px;
  font-size: 100px;
  text-indent: 23px;
  color: #0f0f0f;

}
/* esta es la de arriba */
.cruz_abajo {
  width: 100px;
  height: 100px;
  background: #3b3a3a;
  margin-left:200px;
  margin-top:-200px;
  font-size: 100px;
  text-indent: 23px;
  color: #0f0f0f;
  border-right: 10px solid #333;

}
.cruz_derecha {
  width: 100px;
  height: 100px;
  background: #3b3a3a;
  margin-left:300px;
  margin-top:0px;
  font-size: 100px;
  text-indent: 23px;
  color: #0f0f0f;
  border-right: 10px solid #333;
  border-bottom: 10px solid #223;
}
.botono {
     width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #0f0f0f;
     color: #0f0f0f;
     margin-left:230px;
     margin-top:-70px;
     border-left: 5px solid #333;
     border-top: 5px solid #223;
}
.triangulo_izq {
  width: 0;
 height: 0;
 border-left: 50px solid #0f0f0f;
 border-top:25px solid transparent;
 border-bottom: 25px solid transparent;
 margin-left:120px;
 margin-top:-50px;
 transform: rotate( -180deg );

}
.triangulo_arr {
  width: 0;
 height: 0;
 border-left: 50px solid #0f0f0f;
 border-top:25px solid transparent;
 border-bottom: 25px solid transparent;
 margin-left:220px;
 margin-top:-150px;
 transform: rotate( -90deg );
}
.triangulo_aba {
  width: 0;
 height: 0;
 border-left: 50px solid #0f0f0f;
 border-top:25px solid transparent;
 border-bottom: 25px solid transparent;
 margin-left:220px;
 margin-top:150px;
 transform: rotate( -270deg );
}
.triangulo_der {
  width: 0;
 height: 0;
 border-left: 50px solid #0f0f0f;
 border-top:25px solid transparent;
 border-bottom: 25px solid transparent;
 margin-left:330px;
 margin-top:-150px;
 transform: rotate( -0deg );
}
.loader-page {
    position: fixed;
    z-index: 25000;
    background: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .5s ease;
  }
  .loader-page::before {
    content: "";
    position: absolute;
    border: 2px solid rgb(50, 150, 176);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176,0);
    border-top: 2px solid rgba(50, 150, 176,0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
  }
  @keyframes rotarload {
      0%   {transform: rotate(0deg)}
      100% {transform: rotate(360deg)}
  }
  .loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(50, 150, 176,.5);
    width: 60px;
    height: 60px;
    border-radius: 70%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 0.7s ease-out infinite;
    transform: rotate(0deg);
  }
